<h1>Stupid Coaching</h1>
<p>Put your stupid question here</p>
<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
